.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: min(100%, 345px);
}

.actions {
  display: flex;
  gap: 15px;

  width: 100%;

  button {
    border-radius: 40px;
  }
}
